.details {
}

.hidden-container {
    display: flex;
    justify-content: center;
}

.hidden-container__item {
    flex: 1;
    max-width: 1024px;
}

.title,
.section-name {
    margin-bottom: 0;
    font-weight: lighter;
}

.section-name {
    margin-bottom: 0.75rem;
}

.description {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.divider {
    height: 0.75rem;
    width: 3rem;
    border-top: 0.2rem solid cornflowerblue;
}

.details-header {
    display: flex;
    flex-direction: row-reverse;
}

.details-header__item {
    flex: 0 1 auto;
}

.details-body {
    display: flex;
    justify-content: center;
}

.details-body__item {
    max-width: 512px;
    flex: 1;
    padding: 0 2rem;
    margin-bottom: 4rem;
}

.details-body__image-container {
    display: flex;
    align-items: center;
    width: 512px;
    height: 384px;
    overflow: hidden;
    padding: 0.5rem;
}

.details-body__image-container img {
    width: 100%;
    box-shadow: 0 0 0.5rem 0 gray;
}

.chip-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.chip-wrapper__chip {
    margin: 0.25rem;
}