.layout {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.body {
    display: flex;
    flex: 1;
}

.content {
    flex: 1;
}

.nav, .aside {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
}

@media (min-width: 768px) {
    .body {
        flex-direction: row;
        flex: 1;
    }

    .content {
        flex: 1;
    }

    .nav, .ads {
        /* 12em is the width of the columns */
        flex: 0 0 12em;
    }
}