.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: var(--space);
}

.grid {
    flex: 1;
    object-fit: cover;
    overflow: hidden;
    overflow-y: auto;
}