body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

:root {
    --space: 1rem;
    --space-xs: 0.25rem;
    --bg-color: hsl(150, 45%, 50%);
}